<?xml version="1.0" encoding="utf-8"?>
<colorTheme id="47528" name="base16-custom" modified="" author="seehra.a">
  <searchResultIndication color="#{{base0A-hex}}" />
  <filteredSearchResultIndication color="#{{base01-hex}}" />
  <occurrenceIndication color="#{{base01-hex}}" />
  <writeOccurrenceIndication color="#{{base01-hex}}" />
  <findScope color="#{{base01-hex}}" />
  <deletionIndication color="#{{base01-hex}}" />
  <sourceHoverBackground color="#{{base00-hex}}" />
  <singleLineComment color="#{{base03-hex}}" italic="false" />
  <multiLineComment color="#{{base03-hex}}" italic="false" />
  <commentTaskTag color="#{{base0A-hex}}" italic="false" />
  <javadoc color="#{{base03-hex}}" italic="false" />
  <javadocLink color="#{{base03-hex}}" italic="false" />
  <javadocTag color="#{{base0A-hex}}" italic="false" />
  <javadocKeyword color="#{{base0B-hex}}" italic="false" />
  <class color="#{{base0A-hex}}" bold="false" underline="false" strikethrough="false" />
  <interface color="#{{base0A-hex}}" />
  <method color="#{{base0D-hex}}" />
  <methodDeclaration color="#{{base0D-hex}}" />
  <bracket color="#{{base05-hex}}" />
  <number color="#{{base09-hex}}" />
  <string color="#{{base0B-hex}}" bold="false"/>
  <operator color="#{{base05-hex}}" />
  <keyword color="#{{base0E-hex}}" bold="false" />
  <annotation color="#{{base0F-hex}}" />
  <staticMethod color="#{{base0D-hex}}" />
  <localVariable color="#{{base08-hex}}" />
  <localVariableDeclaration color="#{{base08-hex}}" />
  <field color="#{{base0D-hex}}" />
  <staticField color="#{{base0D-hex}}" />
  <staticFinalField color="#{{base0D-hex}}" />
  <deprecatedMember color="#{{base0F-hex}}" underline="false" strikethrough="true" />
  <enum color="#{{base09-hex}}" />
  <inheritedMethod color="#{{base0D-hex}}" />
  <abstractMethod color="#{{base0D-hex}}" />
  <parameterVariable color="#{{base0B-hex}}" />
  <typeArgument color="#{{base08-hex}}" />
  <typeParameter color="#{{base08-hex}}" />
  <constant color="#{{base09-hex}}" />
  <background color="#{{base00-hex}}" />
  <currentLine color="#{{base01-hex}}" />
  <foreground color="#{{base05-hex}}" />
  <lineNumber color="#{{base01-hex}}" />
  <selectionBackground color="#{{base02-hex}}" />
  <selectionForeground color="#{{base05-hex}}" />
</colorTheme>
